@media (min-width: 1400px) {
  .rounded-xxl-start {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }
}

@media (max-width: 1399px) {
  .rounded-xs-start {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }
}

@media (min-width: 1400px) {
  .rounded-xxl-top-right {
    border-top-right-radius: 1.5rem;
  }
}

@media (min-width: 1400px) {
  .rounded-xxl-bottom-right {
    border-bottom-right-radius: 1.5rem;
  }
}

@media (max-width: 1399px) {
  .rounded-xs-bottom-left {
    border-bottom-left-radius: 1.5rem;
  }
}

@media (max-width: 1399px) {
  .rounded-xs-bottom-right {
    border-bottom-right-radius: 1.5rem;
  }
}

.icon {
  text-decoration: none;
  color: rgb(69, 69, 69);
}

i {
  color: rgb(69, 69, 69);
}

a {
  color: rgb(69, 69, 69);
}

a:hover {
  cursor: pointer;
}
