@font-face {
  font-family: "Manrope";
  src: url("src\assets\fonts\Manrope\Manrope-VariableFont_wght.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 100 900;
}

body {
  font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700 !important;
}

@media (min-width: 900px) {
  .rounded-xs-top-left {
    border-top-left-radius: 1.5rem;
  }
  .rounded-xs-top-right {
    border-top-right-radius: 1.5rem;
  }
  .rounded-xs-bottom-left {
    border-bottom-left-radius: 1.5rem;
  }
  .rounded-xs-bottom-right {
    border-bottom-right-radius: 1.5rem;
  }
}

.icon {
  text-decoration: none;
  color: rgb(69, 69, 69);
}

i {
  color: rgb(69, 69, 69);
}

a {
  color: rgb(69, 69, 69);
  font-weight: 300;
}

a:hover {
  cursor: pointer;
}
